/* Typography defaults
   ========================================================================== */

body {
    color: #414141;
    font-family: "Roboto", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;  /* Font smoothing tweaks for MacOSx in Gecko */
    -webkit-font-smoothing: antialiased; /* Font smoothing tweaks for MacOSx in Webkit */

    line-height: 1.428571429;

    /* Break long words by default */
    word-wrap: break-word; /* Deprecated in favor of "overflow-wrap" */
    overflow-wrap: break-word;
}

input,
textarea,
select {
    color: #212121;
    font-family: "Roboto", Helvetica Neue, Helvetica, Arial, sans-serif;
}

p {
    margin: 1em 0;
}

::selection {
    background: #1dd09b;
    color: #fff;
}

/* Links
   ========================================================================== */

a,
a:visited,
a:active {
    color: #35405b;
    text-decoration: none;
    transition: color 0.15s linear;
}

a:hover {
    text-decoration: underline;
}

a:focus {
    outline: 0;
}

/* Code & quote blocks
   ========================================================================== */

code {
    padding: 2px 4px;
    background-color: rgba(0, 0, 0, 0.06);
    border-radius: 3px;
    color: #414141;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
}

blockquote {
    margin: 0 0 16px 0;
    padding: 0 1em;
    border-left: 0.25em solid #ddd;
    color: #777;
}

/* Ellipsis
   ========================================================================== */

/**
 * Add the `ellipsis` class whenever you want to add "..." when the text overflows.
 * The container needs to have a width for it to work.
 */

.ellipsis {
    overflow: hidden; /* "overflow" value must be different from "visible" */
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;  /* Deprecated in favor of "overflow-wrap" */
    overflow-wrap: normal;
}
