/* Typography defaults
   ========================================================================== */

body {
    color: #333;
    font-family: "Roboto", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    -moz-osx-font-smoothing: grayscale;  /* Font smoothing tweaks for MacOSx in Gecko */
    -webkit-font-smoothing: antialiased; /* Font smoothing tweaks for MacOSx in Webkit */

    line-height: 1.428571429;

    /* Break long words by default */
    word-wrap: break-word; /* Deprecated in favor of "overflow-wrap" */
    overflow-wrap: break-word;
}

input,
textarea,
select {
    font-family: "Roboto", Helvetica Neue, Helvetica, Arial, sans-serif;
}

::selection {
    background: #1dd09b;
    color: #fff;
}

/* Links
   ========================================================================== */

a,
a:visited,
a:active {
    color: #35405b;
    text-decoration: none;
    transition: color 0.15s;
}

a:hover {
    text-decoration: underline;
}

a:focus {
    outline: 0;
}

/* Ellipsis
   ========================================================================== */

/**
 * Add the `ellipsis` class whenever you want to add "..." when the text overflows.
 * The container needs to have a width for it to work.
 */

.ellipsis {
    overflow: hidden; /* "overflow" value must be different from "visible" */
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;  /* Deprecated in favor of "overflow-wrap" */
    overflow-wrap: normal;
}
