/* Utility class to disable css transitions
   ========================================================================== */

.disable-transition,
.disable-transition::before,
.disable-transition::after,
.disable-transition *,
.disable-transition *::before,
.disable-transition *::after {
    transition: none !important;
}
