.tooltip-component.tooltip-component-animation-zoom-enter,
.tooltip-component.tooltip-component-animation-zoom-leave {
    display: block;
}

.tooltip-component-animation-zoom-enter,
.tooltip-component-animation-zoom-appear {
    opacity: 0;

    animation-play-state: paused;
    animation-fill-mode: both;
    animation-duration: 0.2s;
    animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.tooltip-component-animation-zoom-leave {
    animation-play-state: paused;
    animation-fill-mode: both;
    animation-duration: 0.2s;
    animation-timing-function: cubic-bezier(0.6, -0.3, 0.74, 0.05);
}

.tooltip-component-animation-zoom-enter.tooltip-component-animation-zoom-enter-active,
.tooltip-component-animation-zoom-appear.tooltip-component-animation-zoom-appear-active {
    animation-name: tooltip-component-animation-zoom-in;
    animation-play-state: running;
}

.tooltip-component-animation-zoom-leave.tooltip-component-animation-zoom-leave-active {
    animation-name: tooltip-component-animation-zoom-out;
    animation-play-state: running;
}

@keyframes tooltip-component-animation-zoom-in {
    0% {
        transform-origin: 50% 50%;
        transform: scale(0, 0);
        opacity: 0;
    }

    100% {
        transform-origin: 50% 50%;
        transform: scale(1, 1);
        opacity: 1;
    }
}

@keyframes tooltip-component-animation-zoom-out {
    0% {
        transform-origin: 50% 50%;
        transform: scale(1, 1);
        opacity: 1;
    }

    100% {
        transform-origin: 50% 50%;
        transform: scale(0, 0);
        opacity: 0;
    }
}
