.page-home {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-height: 465px;  /* minimum acceptable so that iphone5 does not show scroll */
    background-color: #f7f7f6;
}

/* Header tweaks
   ========================================================================== */

.page-home .header-component {
    border-bottom: 1px solid rgba(255, 255, 255, 0.03);
}

/* Upper-half
   ========================================================================== */

.page-home .upper-half {
    position: relative;
    height: calc(65vh - 80px);
    min-height: 275px;
    overflow: hidden;  /* Necessary because of the translate -50% on IE */
    background-color: #35405b;
    color: #fff;
}

.page-home .upper-half-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - 40px);
    max-width: 620px;
    transform: translate(-50%, -50%);
    text-align: center;
}

.page-home .upper-half .logo {
    font-family: "Oleo Script", cursive;
    font-size: 100px;
    font-weight: bold;
}

.page-home .upper-half .logo > span {
    position: relative;
}

.page-home .upper-half .logo .beta {
    position: absolute;
    right: 5px;
    bottom: 12px;
    color: #95a2c1;
    font-size: 16px;
    font-weight: 500;
}

.page-home .upper-half .moto {
    margin-bottom: 30px;
}

/* Media queries
   ========================================================================== */

@media (max-height: 620px) {
    .page-home .upper-half {
        min-height: 300px;
    }

    .page-home .upper-half-centered {
        margin-top: -10px;
    }
}
