.page-home {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-height: 465px;  /* minimum acceptable so that iphone5 does not show scroll */
    background-color: #f7f7f6;
}

/* Header tweaks
   ========================================================================== */

.page-home .header-component {
    border-bottom: 1px solid rgba(255, 255, 255, 0.03);
}

/* Upper-half
   ========================================================================== */

.page-home .upper-half {
    position: relative;
    height: calc(65vh - 80px);
    min-height: 275px;
    background-color: #35405b;
    color: #fff;
}

.page-home .upper-half-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - 50px);
    max-width: 620px;
    transform: translate(-50%, calc(-50% - 20px));
    text-align: center;
}

.page-home .upper-half .logo {
    font-family: "Oleo Script", cursive;
    font-size: 100px;
    font-weight: bold;
}

.page-home .upper-half .moto {
    margin-bottom: 30px;
}

/* Media queries
   ========================================================================== */

@media (max-height: 600px) {
    .page-home .upper-half {
        height: calc(55% - 42.5px);
    }
}
