.page-home {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-height: 465px;  /* minimum acceptable so that iphone5 does not show scroll */
    background-color: #f7f7f6;
}

/* Header tweaks
   ========================================================================== */

.page-home .header-component {
    border-bottom: 1px solid rgba(255, 255, 255, 0.03);
}

/* Upper-half
   ========================================================================== */

.page-home .upper-half {
    height: calc(65vh - 80px);
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #35405b;
    color: #fff;
}

.page-home .upper-half-wrapper {
    width: calc(100% - 40px);
    max-width: 620px;
}

.page-home .upper-half .logo {
    font-family: "Oleo Script", cursive;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    cursor: default;
}

.page-home .upper-half .logo > span {
    position: relative;
}

.page-home .upper-half .logo .beta {
    position: absolute;
    right: 5px;
    bottom: 12px;
    color: #95a2c1;
    font-size: 16px;
    font-weight: 500;
}

.page-home .upper-half .moto {
    text-align: center;
}

.page-home .upper-half .search-box-component {
    margin-top: 30px;
}

.page-home .upper-half .search-box-component .autosuggest-component-suggestions-container {
    /* Complex calculation that measures the left space above the input with a 20px margin */
    max-height: calc(35vh - 5px - 20px + ((65vh - 80px - 234px) / 2));
}

/* Media queries
   ========================================================================== */

@media (max-height: 584px) {
    .page-home .upper-half {
        height: 300px;
    }

    .page-home .upper-half .moto {
        display: none;
    }

    .page-home .upper-half .search-box-component {
        margin-top: 20px;
    }

    .page-home .upper-half .search-box-component .autosuggest-component-suggestions-container {
        /* Complex calculation that measures the left space above the input with a 20px margin */
        max-height: calc(100vh - 80px - 300px - 5px - 20px + ((300px - 202px) / 2));
    }
}

@media (max-height: 500px) {
    .page-home .upper-half .search-box-component .autosuggest-component-suggestions-container {
        display: none;
    }
}
