.package-score-component {
    display: table;
}

/* Detailed score (circular progress)
   ========================================================================== */

.package-score-component .score-detailed {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    display: table-cell;
    vertical-align: middle;
    font-weight: 700;
    cursor: default;
}

.package-score-component .score-detailed .CircularProgressbar-path {
    stroke: #999;
    stroke-linecap: round;
}

.package-score-component .score-detailed .CircularProgressbar-trail {
    stroke: #eaeaea;
}

.package-score-component .score-detailed .CircularProgressbar-text {
    fill: #414141;
    font-size: 44px;
    dominant-baseline: central;
    text-anchor: middle;
}

/* Full score
   ========================================================================== */

.package-score-component .score-full {
    position: relative;
    width: 26px;
    height: 26px;
    display: table-cell;
    vertical-align: middle;
    cursor: default;
}

.package-score-component .score-full .score-badge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.package-score-component .score-full .score-badge svg {
    width: 100%;
    height: 100%;
}

.package-score-component .score-full .score-value {
    position: relative;
    z-index: 2;
    color: #fff;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    line-height: 26px;
}

/* Tooltip
   ========================================================================== */

.package-score-tooltip-component ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.package-score-tooltip-component .score-label {
    margin-right: 5px;
}

.package-score-tooltip-component .score-value {
    font-weight: 500;
}

.package-score-tooltip-component .score-value {
    font-weight: 500;
}
