.package-score-component {
    display: table;
}

/* Detailed score (circular progress)
   ========================================================================== */

.package-score-component .score-detailed {
    position: relative;
    width: 20px;
    height: 20px;
    margin: 3px 5px 0 0;
    float: left;
    font-weight: 700;
    cursor: default;
}

.package-score-component .score-detailed .score-circular-progessbar .CircularProgressbar-path {
    stroke: #999;
    stroke-linecap: round;
}

.package-score-component .score-detailed .score-circular-progessbar .CircularProgressbar-trail {
    stroke: #eaeaea;
}

.package-score-component .score-detailed .score-text {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    font-size: 9px;
    user-select: none;
}

/* Full score
   ========================================================================== */

.package-score-component .score-full {
    position: relative;
    width: 26px;
    height: 26px;
    float: left;
    cursor: default;
}

.package-score-component .score-full .score-badge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.package-score-component .score-full .score-badge svg {
    width: 100%;
    height: 100%;
}

.package-score-component .score-full .score-value {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 12px;
    font-weight: 900;
}

/* Tooltip
   ========================================================================== */

.package-score-tooltip-component ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.package-score-tooltip-component .score-label {
    margin-right: 5px;
}

.package-score-tooltip-component .score-value {
    font-weight: 500;
}

.package-score-tooltip-component .score-value {
    font-weight: 500;
}
