.page-search .results-list ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.page-search .results-list.no-results {
    font-size: 16px;
}

.page-search .results-list.no-results span {
    font-weight: 500;
}
