.page-search .results-list-item {
    position: relative;
    margin-bottom: 30px;
    padding: 0 0 0 50px;
}

.page-search .results-list-item .score-badge-component {
    position: absolute;
    top: 4px;
    left: 0;
}

.page-search .results-list-item .name {
    display: block;
    font-size: 20px;
    font-weight: 400;
}

.page-search .results-list-item .keywords {
    margin-top: 5px;
    font-size: 12px;
}

.page-search .results-list-item .keywords i {
    margin-right: 5px;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
}
