.page-search .results-list-item {
    position: relative;
    margin-bottom: 30px;
}

/* Headline
   ========================================================================== */

.page-search .results-list-item .headline .name,
.page-search .results-list-item .headline .version,
.page-search .results-list-item .headline .module-score-component {
    display: inline-block;
    vertical-align: middle;
}

.page-search .results-list-item .headline .name {
    max-width: calc(100% - 100px);
    font-size: 20px;
    font-weight: 400;
}

.page-search .results-list-item .headline .version {
    margin-left: 7px;
    color: #858585;
}

.page-search .results-list-item .headline .module-score-component {
    margin: -5px 0 0 5px;
}

/* Description and keywords
   ========================================================================== */

.page-search .results-list-item .description {
    color: #414141;
}

.page-search .results-list-item .keywords {
    margin-top: 5px;
    color: #858585;
    font-size: 12px;
}

.page-search .results-list-item .keywords i {
    margin-right: 5px;
    vertical-align: middle;
    font-size: 14px;
}

/* Publish info
   ========================================================================== */

.page-search .results-list-item .publish-info {
    margin-top: 5px;
    color: #303b55;
    font-size: 12px;
    font-weight: 500;
}

.page-search .results-list-item .publish-info .publisher .name {
    max-width: calc(100% - 140px);
    display: inline-block;
    vertical-align: middle;
    font-weight: 900;
}

.page-search .results-list-item .publish-info .publisher .picture {
    width: 24px;
    height: 24px;
    overflow: hidden;
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
    border: 2px solid #57627d;
    background-color: #ededeb;
    border-radius: 50%;
    transition: opacity 0.2s ease;
}

.page-search .results-list-item .publish-info .publisher .picture img {
    opacity: 0;
    transition: opacity 0.2s ease;
}
