.tooltip-component {
    position: absolute;
    z-index: 1070;
}

.tooltip-component.tooltip-component-hidden {
    display: none;
}

.tooltip-component .tooltip-component-arrow {
    position: absolute;
}

/* Text inside
   ========================================================================== */

.tooltip-component p {
    margin-top: 0;
    margin-bottom: 5px;
}

.tooltip-component p:last-child {
    margin-bottom: 0;
}
