.menu-component {
    position: relative;
    width: 250px;
    height: 100%;
    z-index: 1;
    transform: translate3d(100%, 0, 0);
    transition: transform 0.3s;
}

.menu-component.is-open {
    transform: translate3d(0, 0, 0);
}

/* Close button
   ========================================================================== */

.menu-component .close {
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 10;
    opacity: 0.4;
    color: #656564;
    cursor: pointer;
}

.menu-component .close:hover {
    opacity: 1;
}

/* SVG morph for animation
   ========================================================================== */

.menu-component .svg-morph {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 120px;
}

.menu-component .svg-morph::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 120px;
    width: 130px;
    background-color: #f2f2f1;
}

.menu-component .svg-morph svg {
    fill: #f2f2f1;
    transform: rotate(180deg);
}

/* Nav
   ========================================================================== */

.menu-component nav {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    font-size: 12px;
}

.menu-component .nav-content {
    height: 100%;
    padding: 40px;
    opacity: 0;
    transition: opacity 0s 0.3s;
}

.menu-component.is-open .nav-content {
    opacity: 1;
    transition: opacity 0.3s 0.2s;
}

.menu-component nav .section {
    margin-bottom: 10px;
    color: #878786;
    text-transform: uppercase;
}

.menu-component nav ul {
    margin: 0 0 40px 0;
    padding: 0;
    list-style: none;
}

.menu-component nav li {
    margin-bottom: 3px;
    font-size: 13px;
}

.menu-component nav li a {
    color: inherit;
}

.menu-component nav li a.is-active {
    font-weight: bold;
}

/* Page transform & overlay
========================================================================== */

#menu::after {
    content: "";
    position: fixed;
    top: 3px;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translate3d(0, 0, 0);
    opacity: 0;
    background: #000;
    transition: transform 0.3s, opacity 0.3s, visibility 0s 0.3s;
}

.is-menu-open #menu::after {
    transform: translate3d(-130px, 0, 0);
    visibility: visible;
    opacity: 0.4;
    transition: transform 0.3s 0.1s, opacity 0.3s 0.1s, visibility 0s;
}

#page {
    transform: translate3d(0, 0, 0);
    transition: transform 0.3s;
}

.is-menu-open #page {
    transform: translate3d(-100px, 0, 0);
    transition: transform 0.3s 0.1s;
}
