.search-box-component {
    width: 100%;
    height: 40px;
}

.search-box-component .search-input {
    position: relative;
    width: 100%;
    height: 100%;
}

.search-box-component .search-input input {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 56px 0 15px;
    border: 0;
    outline: 0;
    background-color: #fff;
    border-radius: 2px;
    font-size: 16px;
}

.search-box-component .search-input button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40px;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background-color: #1dd09b;
    border-radius: 0 2px 2px 0;
    color: #fff;
    user-select: none;
    cursor: pointer;
    transition: background 0.15s ease;
}

.search-box-component .search-input button:hover {
    background-color: #1fb387;
}

.search-box-component .search-input button i {
    line-height: 40px;
}
