/* Search box itself
   ========================================================================== */

.search-box-component {
    width: 100%;
    height: 40px;
}

.search-box-component .search-input {
    position: relative;
    width: 100%;
    height: 100%;
}

.search-box-component .search-input input {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 56px 0 15px;
    border: 0;
    outline: 0;
    background-color: #fff;
    border-radius: 2px;
    font-size: 16px;
}

.search-box-component .search-input button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40px;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background-color: #1dd09b;
    border-radius: 0 2px 2px 0;
    color: #fff;
    line-height: 40px;
    user-select: none;
    cursor: pointer;
    transition: background-color 0.15s linear;
}

.search-box-component .search-input button:hover {
    background-color: #1fb387;
}

.search-box-component .search-input button i {
    width: 100%;
    height: 100%;
    line-height: inherit;
    cursor: inherit;
}

/* Autosuggest component
   ========================================================================== */

.search-box-component .autosuggest-component-container {
    position: relative;
    height: 100%;
}

.search-box-component .autosuggest-component-suggestions-container {
    position: absolute;
    top: 45px;
    width: 100%;
    max-height: 402px;  /* Max of 10 items */
    z-index: 2;
    overflow: auto;
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #cfcfcf;
    background-color: #fff;
    border-radius: 2px;
    font-size: 16px;
}

.search-box-component .autosuggest-component-suggestion {
    height: 40px;
    padding: 0 15px;
    align-items: center;
    display: flex;
    color: #414141;
    cursor: pointer;
    transition: background-color 0.1s linear;
}

.search-box-component .autosuggest-component-suggestion .suggestion {
    width: 100%;
}

.search-box-component .autosuggest-component-suggestion .suggestion-name {
    color: #35405b;
    font-size: 14px;
}

.search-box-component .autosuggest-component-suggestion .suggestion-name em {
    font-weight: bold;
    font-style: normal;
}

.search-box-component .autosuggest-component-suggestion .suggestion-description {
    font-size: 12px;
}

.search-box-component .autosuggest-component-suggestion.is-focused {
    background-color: #e9e9e9;
}
