.module-score-component {
    position: relative;
    width: 26px;
    height: 26px;
}

.module-score-component .score-badge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.module-score-component .score-badge svg {
    width: 100%;
    height: 100%;
}

.module-score-component .score-value {
    position: relative;
    top: 50%;
    z-index: 2;
    transform: translateY(-50%);
    color: #fff;
    font-size: 10px;
    font-weight: 900;
    text-align: center;
}

/* Tooltip
   ========================================================================== */

.module-score-tooltip-component ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.module-score-tooltip-component .score-label {
    margin-right: 5px;
}

.module-score-tooltip-component .score-value {
    font-weight: 500;
}

.module-score-tooltip-component .score-value {
    font-weight: 500;
}
