.scroll-to-top-component {
    width: 33px;
    height: 33px;
    opacity: 0;
    background-color: #ddd;
    border-radius: 2px;
    text-align: center;
    line-height: 33px;
    pointer-events: auto;
    cursor: pointer;
    transition: background 0.15s, opacity 0.2s linear;
}

.scroll-to-top-component.is-visible {
    opacity: 1;
}

.scroll-to-top-component:hover {
    background-color: #6d6d6d;
    color: #fff;
}

.scroll-to-top-component:hover i {
    color: #fff;
}
