@import "../../styles/index.css";

#root {
    height: 100%;
}

#application {
    position: relative;
    height: 100%;
}

#loading-bar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 3px;
    z-index: 10;
}

#menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    pointer-events: none;
}

#menu > * {
    pointer-events: auto;
}

#page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
