.header-component {
    width: 100%;
    height: 80px;
    display: table;
    table-layout: fixed;
    background-color: #35405b;
    color: #fff;
}

.header-component > * {
    display: table-cell;
    vertical-align: middle;
}

.header-component .logo {
    width: 150px;
    font-family: "Oleo Script", cursive;
    font-size: 36px;
    text-align: center;
}

.header-component .logo a {
    color: #fff;
    text-decoration: none;
}

.header-component .search-box .search-box-component {
    max-width: 700px;
}

.header-component .other-actions {
    width: 160px;
    text-align: right;
    user-select: none;
}

.header-component .other-actions .toggle-menu {
    margin-right: 25px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.header-component .other-actions .toggle-menu:hover {
    color: #1dd09b;
}

.header-component .other-actions .social-link {
    width: 24px;
    height: 24px;
    margin-right: 15px;
    display: inline-block;
    fill: #fff;
}

.header-component .other-actions .social-link:hover {
    fill: #1dd09b;
}

/* Utility classes to be used by several pages
   ========================================================================== */

.header-component-align-with-search-box {
    max-width: 700px;
    margin-left: 150px;
    margin-right: 160px;
}

.header-component-align-with-search-box-floated {
    right: 160px;
    left: 150px;
    max-width: 700px;
}

/* Media queries
   ========================================================================== */

@media (max-width: 475px) {
    .header-component .other-actions {
        width: 70px;
    }

    .header-component .other-actions .social-link {
        display: none;
    }
}

@media (max-width: 700px) {
    .header-component .logo {
        width: 20px;
    }

    .header-component .logo > * {
        display: none;
    }

    .header-component .other-actions .toggle-menu {
        margin-right: 20px;
    }

    .header-component-align-with-search-box {
        margin-left: 20px;
        margin-right: 20px;
    }

    .header-component-align-with-search-box-floated {
        right: 20px;
        left: 20px;
    }
}

@media (min-width: 701px) and (max-width: 1000px) {
    .header-component .logo {
        width: 100px;
        font-size: 24px;
    }

    .header-component-align-with-search-box {
        margin-left: 100px;
    }

    .header-component-align-with-search-box-floated {
        left: 100px;
    }
}
